
{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}

  <!-- your portfolio list  here -->

<script type="text/javascript">
  function allow_portfolio_deletion(e, p_name, portfolioid) {
    if( !confirm('Do you really want to remove '+ p_name +' portfolio?')){
      console.log( 'delete portfolio cancelled');
      e.preventDefault();
    }
    else
    {
      window.location.href='/delete_portfolio/'+ portfolioid;
    }
  }

  function rename(id, name){
      $.ajax({
        url: "/renameportfolio",
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify({ id: id, name: name }),
        success: function (response){
            if(response.status == "success"){
              console.log(response.status);
            }
         }
      });
      event.preventDefault();
    }

  $(document).ready(function(){

      $('.p_name').on('focusout', function (){
        if ( $(this).val() !=  $(this).data('oldname'))
          rename($(this).data('pid'), $(this).val() );
          $(this).attr('readonly', 'readonly');
      });

      $('.p_name').on('focus', function (){
         console.log('focus');
         $(this).removeAttr('readonly');
      });
    }
  );

  document.getElementById("togglePassword").addEventListener("click", function () {
        const pwdField = document.getElementById("password");
        if (pwdField.type === "password") {
            pwdField.type = "text";
            this.classList.remove("fa-eye");
            this.classList.add("fa-eye-slash");
        } else {
            pwdField.type = "password";
            this.classList.remove("fa-eye-slash");
            this.classList.add("fa-eye");
        }
    });
</script>
  <div class="container mt-5">
    <div class="d-flex justify-content-center">
      <h2> Portfolios - {{for_year}} ({{user_name}})</h2>
    </div>
  <div  class="center">
    <table id = "data" class="center">
     <thead>
        <tr>
        <!--<th>Id</th>-->
        <th>Portfolio Name</th>
        <th> &nbsp; </th>
        <th> &nbsp;  </th>
        </tr>
      </thead>
      <tbody>
        {% for entry in portfolio %}
          <tr>
            <!---<td>{{ entry[0]}}</td>-->
            <td pid="{{ entry[0]}}">
              <div class="input-wrapper">
                <input type="text" value="{{ entry[1] }}" class="p_name form-control editable-input" data-oldname="{{ entry[1] }}" data-pid="{{ entry[0]}}" readonly>
                <i class="bi bi-pencil-fill edit-icon"></i>
              </div>
            </td>

            <td> &nbsp;&nbsp;
             <button class="btn btn-sm btn-outline-primary" onclick="location.href='/quotes/{{ entry[0]}}/{{for_year}}'">
                <i class="bi bi-briefcase"></i>
                <span class="d-inline d-md-none"> View </span>
             </button>
            </td>

            <td>&nbsp;&nbsp;
              <button class="btn btn-sm btn-outline-danger" onclick="allow_portfolio_deletion(event, '{{ entry[1] }}','{{ entry[0] }}')" >
                <i class="bi bi-trash"></i>
                <span class="d-inline d-md-none">Delete</span>
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary w-25 mt-3" onclick="togglePopup()">
       <i class="bi bi-plus-circle"></i> Create New Portfolio
      </button>
    </div>
    <div class="content">
      <div onclick="togglePopup()" class="close-btn">
          &times
      </div>
      <h3>Add New Portfolio</h3>
        <form method="post">
          <label for="portfolio_name" class="form-label">Enter Portfolio Name:</label>
          <input type="text" class="form-control" id="portfolio_name" name="portfolio_name" required>
          <button type="submit" class="btn btn-primary w-50 mt-3">Create New Portfolio</button>
        </form>
    </div>

  </div>
{% endblock %}